@import url(./japao.css);
@import url(./franca.css);
@import url(./italia.css);
@import url(./alemanha.css);
@import url(./holanda.css);
@import url(./ucrania.css);
@import url(./polonia.css);
@import url(./indonesia.css);
@import url(./nigeria.css);
@import url(./argentina.css);
@import url(./finlandia.css);
@import url(./suecia.css);
@import url(./dinamarca.css);
@import url(./suica.css);

#flags-controller{
    min-width: max-content;
    min-height: max-content;

    position: absolute;
    top: 0;
    left: 20vw;

    transition: all 0.2s ease-in-out;

    z-index: 2;
}

.flags{
    width: 30vw;
    height: 40vh;

    margin: 30vh 0 60vh;
}

.mini-flags{
    width: 6vw;
    height: 8vh;
    background-color: blue;
}

.azul{
    background-color: blue;
}
.branca{
    background-color: white;
}
.vermelha{
    background-color: red;
}
.verde{
    background-color: green;
}
.preta{
    background-color: black;
}
.amarela{
    background-color: yellow;
}
.azul-claro{
    background-color: lightskyblue;
}