#japao{
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#japao div{
    background-color: red;

    width: 50%;
    height: 75%;

    border-radius: 50%;
}