<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dust PIZZARIA</title>

        <link rel="stylesheet" href="./../css/login/login.css">
        <script src="https://kit.fontawesome.com/398cd98506.js"
            crossorigin="anonymous"></script>

        <script src="./../../controller/login_controller.js"></script>
    </head>
    <body>
        <section>
            <img id="logo" src="./../../assets/img/logo.svg">
            <header>
                <h1 id="dust-name">DUST's</h1>
                <h3 id="pizzaria-name">PIZZARIA</h3>
                <div id="italy-lines">
                    <div class="line green"></div>
                    <div class="line white"></div>
                    <div class="line red"></div>
                </div>
                <h5 id="site-explication">Cardápio e Pedido Online</h5>
            </header>
                <main>
                    <div id="title-subtitle">
                        <h1>Olá</h1>
                        <h6>Está sentindo esse cheirinho?</h6>
                    </div>

                    <div id="form">
                        <!-- <div class="input">
                            <i class="fa-solid fa-user"></i>
                            <input type="text">
                        </div> -->
                        <!-- <div class="input">
                            <i class="fa-solid fa-phone"></i>
                            <input type="tel">
                        </div> -->
                        <div class="input" >
                            <i class="fa-solid fa-envelope"></i>
                            <input id="input_email" type="email">
                        </div>
                        <div class="input">
                            <i class="fa-solid fa-lock" id="padlok"></i>
                            <input id="input_senha" type="password">
                            <i id="password_icon" onclick="inverterSenhaSkin()" class="fa-solid fa-eye"></i><!--<i class="fa-regular fa-eye-slash"></i>-->
                        </div>
                        <!-- <div class="input">
                            <i class="fa-solid fa-lock" id="padlok"></i>
                            <input type="password">
                            <i class="fa-solid fa-eye"></i><i class="fa-regular fa-eye-slash"></i>
                        </div> -->
                        <!-- <p>Esqueceu sua senha?</p> -->
                        <button id="btn_login" onclick="verificarLogin()">ENTRAR</button>
                    </div>

                    <div id="login-options">
                        <p>ou</p>
                        <div>
                            <button><i class="fa-brands fa-google"></i></button>
                            <button><i class="fa-brands fa-apple"></i></button>
                            <button><i class="fa-brands fa-windows"></i></button>
                        </div>
                    </div>

                    <p>Não tem uma conta? <u>Crie uma aqui...</u></p>
                </main>
            </section>
    </body>
</html>