header{
    width: 100vw;
    height: 10vh;

    flex-wrap: nowrap;
    white-space: nowrap;

    overflow-x: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: row;

    position: fixed;
    z-index: 5;
}

.mini-flags{
    width: 6vw;
    height: 7vh;

    margin: 1vh 1vw;

    flex-shrink: 0;

    cursor: pointer;
}