@import url(./reset.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./main.css);
@import url(./bandeiras/bandeiras.css);


#body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-position: center;
    background-size: cover;

    background-image: url(https://wallpaperaccess.com/full/4596596.jpg);
}