header{
    width: 60%;
    height: 100%;

    background-position:bottom;
    background-size: cover;
    background-image: url(./../../../assets/img/apresentation_img.svg);

    color: var(--white);
}

#dust-name{
    font-family: var(--fontPri);
    font-size: 8vw;

    position: absolute;
    margin: 4% 3%;
}

#pizzaria-name{
    font-family: var(--fontSec);
    font-size: 4vw;

    position: absolute;
    margin: 11% 3%;
}

#site-explication{
    font-family: var(--fontPri);
    font-size: 2.5vw;

    position: absolute;
    margin: 37% 12%;
}

#italy-lines{
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 4vw;
    height: 40vh;

    margin: 21.6% 3% 0 ;
}

.line{
    width: 10%;
    height: 100%;

    border-radius: 1vw 0;
}

.white{
    background-color: var(--white);
}
.green{
    background-color: var(--ligthGreen);
}
.red{
    background-color: var(--ligthRed);
}