#banners_com_btns{
    height: 50vh;
}

#banners{
    width: 500vw;
    height: 50vh;

    display: flex;
    flex-direction: row;

    position: absolute;
    left: -000vw;

    transition: all 0.2s ease-in-out;
}

.banner{
    width: 90vw;
    height: 44vh;

    margin: 3vh 5vw;
    padding: 2vw;
}

.banner h1{
    font-family: var(--fontSecundaria);
    font-size: 4.5vw;
    color: var(--corBranca);
}
.banner p{
    font-family: var(--fontPrincipal);
    font-size: 1.5vw;
    color: var(--corPreta);
}

#banner_1{
    background-color: var(--corAzul);
}
#banner_2{
    background-color: var(--corRosa);
}
#banner_3{
    background-color: var(--corAmarela);
}
#banner_4{
    background-color: var(--corAzul);
}
#banner_5{
    background-color: var(--corRosa);
}

#btns_banner{
    width: 100vw;
    height: 5vh;

    position: absolute;
    top: 55vh;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn_banner{
    width: 1.2vw;
    height: 1.2vw;

    border-radius: 50%;
    margin: 0 0.3vw;

    background-color: var(--corBranca);

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#btn_banner_0{
    transform: scale(1.4);
}