header {
    width: 100vw;
    height: 17vh;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0 2vw;
}

.secao-header {
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 80%;
}

#logo-profissao {
    align-items: center;
}

#botoes-header {
    justify-content: space-between;
    align-items: center;
}

.botao-header {
    width: 30%;
    height: 50%;
    border: none;
    border-radius: 10vw;
    box-shadow: 0.2vw 0.2vw 0.2vw var(--corSombra);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--corBranca);

    padding: 0 3%;

    cursor: pointer;
}

/* COPIA */
.botao-header {
    border: none;
    font-weight: bold;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
}

.botao-header:hover {
    transform: scale(1.1);
    box-shadow: 4px 5px 17px -4px var(--corPreta);
}

.botao-header::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--corPreta);
    transform: skewX(45deg);
    z-index: -1;
    transition: all 1000ms;
}

.botao-header:hover::before {
    width: 250%;
}

/*FIM COPIA*/

.botao-header h6 {
    font-family: var(--fontPrincipal);
    font-size: 1.2vw;
}

.botao-header i {
    font-size: 1.4vw;
    transition: all 0.3s ease-in-out;
}

#btn-amarelo {
    background-color: var(--corAmarela);
}

#btn-azul {
    background-color: var(--corAzul);
}

#btn-rosa {
    background-color: var(--corRosa);
}

#img {
    width: 6vw;
    height: 6vw;

    margin: 0 2% 0 0;

    border-radius: 50%;
    box-shadow: 0.2vw 0.2vw 0.2vw var(--corSombra);

    background-color: var(--corBranca);
}

#profissao {
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;

    font-family: var(--fontPrincipal);

    font-size: 2vw;
    color: var(--corPreta);
}

@media (max-width: 480px) {
    header{
        height: 20vh;
    }

    #logo-profissao{
        width: 60%;
    }
    #botoes-header{
        width: 40%;
        justify-content: start;
    }
    
    .botao-header{
        width:10vw;
        height:10vw;
        justify-content: center;
        margin-right: 3%;
    }
    .botao-header h6{
        display: none;
    }
    .botao-header i{
        font-size: 4vw;
    }
    #img{
        display: none;
    }
    #profissao{
        font-size: 6vw;
    }
}
