header{
    width: 100vw;
    height: 17vh;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0 2vw;
}

.secao-header{
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 80%;
}

#logo-profissao{
    align-items: center;
}

#botoes-header{
    justify-content: space-between;
    align-items: center;
}

.botao-header{
    width: 30%;
    height: 50%;
    border: none;
    border-radius: 10vw;
    box-shadow: 0.2vw 0.2vw 0.2vw var(--corSombra); 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--corBranca);

    padding:0 3%;
}

.botao-header h6{
    font-family: var(--fontPrincipal);
    font-size: 1.2vw;
}

.botao-header i{
    font-size: 1.4vw;
}

#btn-amarelo{
    background-color: var(--corAmarela);
}

#btn-azul{
    background-color: var(--corAzul);
}

#btn-rosa{
    background-color: var(--corRosa);
}

#img{
    width: 6vw;
    height: 6vw;

    margin: 0 2% 0 0;

    border-radius: 50%;
    box-shadow: 0.2vw 0.2vw 0.2vw var(--corSombra);

    background-color:  var(--corBranca);
}

#profissao{
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;

    font-family: var(--fontPrincipal);

    font-size: 2vw;
    color: var(--corPreta);
}