#imagem-principal{
    width: 45vw;
    height: 100vh;

    position: absolute;
    top: 0vh;
    left: 15vw;
}

#informacoes{
    width: 25vw;
    height: 60vh;

    position: absolute;
    top: 20vh;
    left: 56vw;

    color: var(--corPreta);

    text-align: justify;

    font-family: var(--fontPrincipal);
}

#informacoes h1{
    font-family: var(--fontSecundaria);
    font-size: 10.25vw;
    position: absolute;
}

#informacoes h2{
    font-size: 5.95vw;
    margin-top: 24vh;
} 

#informacoes p{
    font-size: 1.2vw;
}