#imagem-principal{
    width: 45vw;
    height: auto;

    position: absolute;
    top: 5vh;
    left: 15vw;

    z-index: -1;
}

#informacoes{
    width: 25vw;
    height: 60vh;

    position: absolute;
    top: 20vh;
    left: 56vw;

    color: var(--corPreta);

    text-align: justify;

    font-family: var(--fontPrincipal);
}

#informacoes h1{
    font-family: var(--fontSecundaria);
    font-size: 10.25vw;
    position: absolute;

    transition: all 0.1s ease-in-out;
    cursor: default;
}
#informacoes h1:hover{
    color: var(--corRosa);
}

#informacoes h2{
    font-size: 5.95vw;
    margin-top: 24vh;

    transition: all 0.1s ease-in-out;
    cursor: default;
} 
#informacoes h2:hover{
    color: var(--corAzul);
}

#informacoes p{
    font-size: 1.2vw;

    transition: all 0.1s ease-in-out; 
    cursor: default;  
}
#informacoes p:hover{
    color: var(--corAmarela);
}

@media (max-width: 480px) {
    #imagem-principal{
        width: 110vw;
        top: 25vh;
        left: -5vw;
    }
    #informacoes{
        width: 90vw;
        height: 70vh;
        
        top: 13vh;
        left: 5vw;
    }

    #informacoes h1{
        margin: 0;
        font-size: 25vw;
    }

    #informacoes h2{
        margin-top: 15vh;
        font-size: 14.7vw;
    }

    #informacoes p{
        margin-top: 40vh;
        font-size: 3vw;
    }
}