#imagem-principal{
    width: 45vw;
    height: 90vh;

    position: absolute;
    top: 5vh;
    left: 15vw;

    z-index: -1;
}

#informacoes{
    width: 25vw;
    height: 60vh;

    position: absolute;
    top: 20vh;
    left: 56vw;

    color: var(--corPreta);

    text-align: justify;

    font-family: var(--fontPrincipal);
}

#informacoes h1{
    font-family: var(--fontSecundaria);
    font-size: 10.25vw;
    position: absolute;

    transition: all 0.1s ease-in-out;
    cursor: default;
}
#informacoes h1:hover{
    color: var(--corRosa);
}

#informacoes h2{
    font-size: 5.95vw;
    margin-top: 24vh;

    transition: all 0.1s ease-in-out;
    cursor: default;
} 
#informacoes h2:hover{
    color: var(--corAzul);
}

#informacoes p{
    font-size: 1.2vw;

    transition: all 0.1s ease-in-out; 
    cursor: default;  
}
#informacoes p:hover{
    color: var(--corAmarela);
}