<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Projetos</title>

    <link rel="stylesheet" href="./../styles/cards.css">
    <script type="module" src="./../../controller/cards_controller.js" defer></script>
</head>
<body>
    <section id="cards">
        </section>
    <section id="forms">
        <form class="form" id="post">
            <h1>Cadastrar Cartão</h1>

            <label for="name_create">Digite o nome do projeto...</label>
            <input id="name_create" type="text" placeholder="Click Cookie">
            
            <label for="languages_create">Digite as tecnologias utilizadas...</label>
            <input id="languages_create" type="text" placeholder="HTML, CSS...">
            
            <label for="img_create">Digite o link da imagem...</label>
            <input id="img_create" type="text" placeholder="https://....">

            <button type="submit">ENVIAR</button>
        </form>
        <form class="form" id="delete">
            <h1>Deletar Cartão</h1>

            <label for="id_delete">Digite o id do card...</label>
            <input id="id_delete" type="text" placeholder="##">

            <button type="submit">ENVIAR</button>
        </form>
        <form class="form" id="put">
            <h1>Atualizar Cartão</h1>

            <label for="id_att">Digite o id do card...</label>
            <input id="id_att" type="text" placeholder="##">

            <label for="name_att">Digite o nome do projeto...</label>
            <input id="name_att" type="text" placeholder="Click Cookie">
            
            <label for="languages_att">Digite as tecnologias utilizadas...</label>
            <input id="languages_att" type="text" placeholder="HTML, CSS...">
            
            <label for="img_att">Digite o link da imagem...</label>
            <input id="img_att" type="text" placeholder="https://....">

            <button type="submit">ENVIAR</button>
        </form>
    </section>
</body>
</html>