<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Bryam</title>

    <link rel="stylesheet" href="./../styles/login.css">
    <script src="./../../controller/login_controller.js" defer></script>
</head>
<body>
    <div>
        <form id="password_form" >
            <label for="password">Digite sua senha...</label>
            <input id="password" type="password" placeholder="*********">
            <button type="submit">ENVIAR</button>
        </form>
    </div>
</body>
</html>