#language{
    margin: 0 0.7vw;
}

#language_container{
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;

    background-color: var(--colorBlack);
    color: var(--colorWhite);
    
    display: flex;
    align-items: center;
    justify-content: center;
}